### Q2 - Data Analyzing
This notebook performs:
- **Data Analyzing** on `cleaned_books_data.csv` (Part C)

In [5]:
# Import necessary libraries
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LinearRegression

In [6]:
# load the dataset
df = pd.read_csv('G:\\My Drive\\MSC\\project\\question2_social_media_analysis\\data_processing\\cleaned_books_data.csv')
df

,title,price,rating,category,availability,description
0,A Light in the Attic,51.77,3,Poetry,In stock (22 available),It's hard to imagine a world without A Light i...
1,Tipping the Velvet,53.74,1,Historical Fiction,In stock (20 available),"""Erotic and absorbing...Written with starling ..."
2,Soumission,50.10,1,Fiction,In stock (20 available),"Dans une France assez proche de la nôtre, un h..."
3,Sharp Objects,47.82,4,Mystery,In stock (20 available),"WICKED above her hipbone, GIRL across her hear..."
4,Sapiens: A Brief History of Humankind,54.23,5,History,In stock (20 available),From a renowned historian comes a groundbreaki...
...,...,...,...,...,...,...
993,Beyond Good and Evil,43.38,1,Philosophy,In stock (1 available),Friedrich Nietzsche's Beyond Good and Evil is ...
994,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,4,Sequential Art,In stock (1 available),High school student Kei Nagai is struck dead i...
995,A Spy's Devotion (The Regency Spies of London #1),16.97,5,Historical Fiction,In stock (1 available),"In England’s Regency era, manners and elegance..."
996,1st to Die (Women's Murder Club #1),53.98,1,Mystery,In stock (1 available),"James Patterson, bestselling author of the Ale..."
997,"1,000 Places to See Before You Die",26.08,5,Travel,In stock (1 available),"Around the World, continent by continent, here..."

In [7]:
# Compute basic statistics
numeric_cols = ['price', 'rating']

basic_stats = df[numeric_cols].describe().T
basic_stats['median'] = df[numeric_cols].median()
basic_stats['mode'] = df[numeric_cols].mode().iloc[0]

print("Basic Statistics:")
basic_stats

Basic Statistics:

,count,mean,std,min,25%,50%,75%,max,median,mode
price,998.0,35.052926,14.446311,10.0,22.1025,35.98,47.4075,59.99,35.98,16.28
rating,998.0,2.924850,1.435111,1.0,2.0000,3.00,4.0000,5.00,3.00,1.00

In [5]:
# Detect outliers in 'price' using IQR method
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['price'] < lower_bound) | (df['price'] > upper_bound)]
print(f"Outliers in 'price':{len(outliers)} records found.")
print(outliers)

Outliers in 'price':0 records found.
Empty DataFrame
Columns: [title, price, rating, category, availability, description]
Index: []

In [6]:
# correlation matrix for numeric columns
corr, p_value = stats.pearsonr(df['price'], df['rating'])
print(f"Pearson correlation between 'price' and 'rating': {corr}, p-value: {p_value}")

Pearson correlation between 'price' and 'rating': 0.030137094444841823, p-value: 0.3415597130301688

In [7]:
# compare prices between top and bottom 10% rated books
top_10_percent = df['rating'].quantile(0.9)
bottom_10_percent = df['rating'].quantile(0.1)
top_rated = df[df['rating'] >= top_10_percent]['price']
bottom_rated = df[df['rating'] <= bottom_10_percent]['price']
t_stat, p_val = stats.ttest_ind(top_rated, bottom_rated, equal_var=False)
print(f"T-test between top and bottom 10% rated books' prices: t-statistic={t_stat}, p-value={p_val}")

T-test between top and bottom 10% rated books' prices: t-statistic=0.6384339581667415, p-value=0.5235563334739943

In [5]:
# simple linear regression: predicting price based on rating
x = df[['rating']]
y = df['price']
model = LinearRegression()
model.fit(x, y)
print(f"Linear Regression: price = {model.intercept_}")
print(f"Coefficient for rating: {model.coef_[0]}")
print(f"R^2: {model.score(x, y)}")

Linear Regression: price = 34.16561350772499
Coefficient for rating: 0.3033702361392453
R^2: 0.0009082444615772234

### Q2 - Data Analyzing
This notebook performs:
- **Predictive analysis** on `cleaned_books_data.csv` (Part C)

In [6]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import NearestNeighbors

In [7]:
df = pd.read_csv('G:\\My Drive\\MSC\\project\\question2_social_media_analysis\\data_processing\\cleaned_books_data.csv')
df

,title,price,rating,category,availability,description
0,A Light in the Attic,51.77,3,Poetry,In stock (22 available),It's hard to imagine a world without A Light i...
1,Tipping the Velvet,53.74,1,Historical Fiction,In stock (20 available),"""Erotic and absorbing...Written with starling ..."
2,Soumission,50.10,1,Fiction,In stock (20 available),"Dans une France assez proche de la nôtre, un h..."
3,Sharp Objects,47.82,4,Mystery,In stock (20 available),"WICKED above her hipbone, GIRL across her hear..."
4,Sapiens: A Brief History of Humankind,54.23,5,History,In stock (20 available),From a renowned historian comes a groundbreaki...
...,...,...,...,...,...,...
993,Beyond Good and Evil,43.38,1,Philosophy,In stock (1 available),Friedrich Nietzsche's Beyond Good and Evil is ...
994,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,4,Sequential Art,In stock (1 available),High school student Kei Nagai is struck dead i...
995,A Spy's Devotion (The Regency Spies of London #1),16.97,5,Historical Fiction,In stock (1 available),"In England’s Regency era, manners and elegance..."
996,1st to Die (Women's Murder Club #1),53.98,1,Mystery,In stock (1 available),"James Patterson, bestselling author of the Ale..."
997,"1,000 Places to See Before You Die",26.08,5,Travel,In stock (1 available),"Around the World, continent by continent, here..."

In [8]:
# Calculate RMSE
y_predict = model.predict(x)
print(f"RMSE : {np.sqrt(mean_squared_error(y,y_predict)):.3f}")

RMSE : 14.433

In [9]:
# Identify patterns in category and pricing
category_price = df.groupby('category')['price'].agg(['count','mean','median']).sort_values(by='mean', ascending=False)
print("Average price by category:")
display(category_price)

Average price by category:

                    count       mean  median
category
Suspense                1  58.330000  58.330
Novels                  1  54.810000  54.810
Politics                3  53.613333  52.650
Health                  4  51.452500  51.345
New Adult               6  46.383333  44.180
Christian               3  42.496667  47.720
Sports and Games        5  41.166000  44.840
Self Help               5  40.620000  46.350
Travel                 11  39.794545  38.950
Fantasy                48  39.593958  43.580
Art                     8  38.520000  42.080
Parenting               1  37.350000  37.350
History                18  37.295000  41.290
Autobiography           9  37.053333  40.850
Womens Fiction         17  36.791176  43.580
Cultural                1  36.580000  36.580
Contemporary            3  36.200000  31.770
Fiction                65  36.066615  39.720
Poetry                 19  35.974211  38.770
Horror                 17  35.949412  36.970
Short Stories           1  35.880000  35.880
Add a comment          67  35.796418  36.170
Music                  13  35.636923  35.020
Classics               18  35.490556  33.970
Young Adult            54  35.449074  36.610
Spirituality            6  35.098333  35.020
Sequential Art         75  34.572267  36.520
Default               151  34.408543  36.050
Christian Fiction       6  34.385000  34.220
Nonfiction            110  34.260182  32.150
Psychology              7  34.218571  31.040
Romance                35  33.933714  34.530
Science Fiction        16  33.802500  35.315
Biography               5  33.662000  39.550
Historical Fiction     26  33.644231  31.610
Philosophy             11  33.558182  29.930
Humor                  10  33.501000  31.290
Science                14  33.088571  30.025
Childrens              29  32.638276  28.540
Religion                7  32.567143  28.420
Business               12  32.460000  33.630
Mystery                32  31.719062  25.385
Thriller               11  31.433636  31.490
Food and Drink         30  31.414667  31.830
Historical              2  22.830000  22.830
Erotica                 1  19.190000  19.190
Paranormal              1  15.400000  15.400
Adult Fiction           1  15.360000  15.360
Academic                1  13.120000  13.120
Crime                   1  10.970000  10.970

In [14]:
# recommend similar books based on price and rating using nearest nehibors model
features_df = df[['price', 'rating']].dropna()
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=6).fit(features_df)
distances, indices = nbrs.kneighbors(features_df)
df['similar_books'] = indices.tolist()
print("Sample similar books based on price and rating:")
display(df[['title', 'similar_books']].head())

Sample similar books based on price and rating:

                                   title                 similar_books
0                   A Light in the Attic  [0, 904, 338, 274, 983, 841]
1                     Tipping the Velvet  [1, 221, 708, 996, 898, 238]
2                             Soumission  [2, 746, 774, 869, 886, 646]
3                          Sharp Objects  [3, 665, 580, 407, 440, 290]
4  Sapiens: A Brief History of Humankind  [4, 884, 127, 768, 431, 463]

In [13]:
# Trends in availability vs price and rating
availability_trends = df.groupby('availability')[['price', 'rating']].mean()
print("Trends in availability vs price and rating:")
display(availability_trends)

Trends in availability vs price and rating:

                             price    rating
availability
In stock (1 available)   36.090928  3.051546
In stock (10 available)  37.140000  3.500000
In stock (11 available)  31.203571  2.928571
In stock (12 available)  38.500294  3.058824
In stock (13 available)  25.702000  2.200000
In stock (14 available)  35.342868  3.007353
In stock (15 available)  32.974070  2.872093
In stock (16 available)  35.311667  2.785714
In stock (17 available)  37.614000  3.400000
In stock (18 available)  30.272727  3.454545
In stock (19 available)  33.654783  2.956522
In stock (2 available)   30.350000  2.928571
In stock (20 available)  51.472500  2.750000
In stock (22 available)  51.770000  3.000000
In stock (3 available)   35.378112  2.637755
In stock (4 available)   34.034681  3.212766
In stock (5 available)   32.841077  3.061538
In stock (6 available)   37.290857  3.057143
In stock (7 available)   34.618679  3.169811
In stock (8 available)   36.998085  2.914894
In stock (9 available)   38.517600  2.880000